body {
  padding: 0;
  margin: 0;
  max-height: 100vh;
}

* {
  box-sizing: border-box;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;

  .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  svg {
    font-size: 24px;
    margin-right: 10px;

    &:hover {
      fill: #40a9ff;
      cursor: pointer;
    }
  }
}

.notes-month {
  font-size: 28px;
  text-align: center;

  section {
    font-size: 28px;
  }
}

.editCalendarCell {
  font-size: 28px;
  position: absolute;
  top: 2px;
  left: 4px;
  z-index: 100;

  svg {
    fill: #333333;
    padding: 4px;

    &:hover {
      background-color: rgba(175, 175, 175, 0.35);
      border-radius: 100px;
    }
  }
}

.ant-picker-body {
  padding: 0 8px !important;
}

.event-header {
  display: flex;
  justify-content: space-between;
}
